#add-products-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-products-modal > div:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.897)!important;
}

#add-products-modal .modal-container {
    width: 530px;
    height: 350px;
    
    background-color: #fff;

    border-radius: 8px;

    padding: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-products-modal .modal-container h2 {
    font-size: 24px;

    margin-top: 10px;
    margin-bottom: 25px;
}

#add-products-modal .modal-product-content {
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-products-modal .modal-product-content .second-line {
    padding: 40px 10px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#add-products-modal .modal-product-content label {
    margin-right: 20px;
}

#add-products-modal .modal-product-content strong {
    font-size: 18px;

    margin-right: 8px;
}

#add-products-modal .modal-product-content input {
    font-size: 16px;
    padding: 10px;

    border-radius: 10px;

    outline: none;
    border: 1px solid #b3aeae;
}

#add-products-modal .modal-product-content input:focus {
    border-color: rgba(36, 199, 58, 0.89);
    box-shadow: 0px 0px 1px 1px rgba(36, 199, 58, 0.89);
}

#add-products-modal .modal-product-content .product-modal-primary-input {
    width: 260px;
}

#add-products-modal .modal-product-content .second-line .product-modal-input.bigger {
    width: 163px;
}

#add-products-modal .modal-product-content .second-line .product-modal-input.smaller {
    width: 75px;
    text-align: center;
}

#add-products-modal .modal-container .button-container {
    width: 96%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#add-products-modal .modal-container button {
    width: 140px;
    height: 50px;

    font-size: 18px;
    font-weight: 600;

    border-radius: 6px;

    transition: background .2s;
}

#add-products-modal .modal-container button:first-child {
    background-color: var(--primary-red);
}

#add-products-modal .modal-container button:first-child:hover {
    background-color: var(--secondary-red);
}

#add-products-modal .modal-container button:last-child {
    background-color: var(--primary-green);
}

#add-products-modal .modal-container button:last-child:hover {
    background-color: var(--third-green);
}